html, body {
    height: 100%;
}

.container {
    /*position: relative;*/
    /*top: 10%;*/
    /*transform: translateY(-100%);*/
    text-align: center;
}

.container-table {
    position: relative;
    width: 100%;
    text-align: left;
}
table {
    table-layout: fixed;
}
td {
    text-align: left;
    white-space: normal !important;
    word-wrap: break-word;
}